<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="nav_bar" id="page-topbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">Nueva Esperanza</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/profesionales/listar}">Profesionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/citas/lista}">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/pacientes/listaP}">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/foro/comunidad}">Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/recursos}">Recursos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>