<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <title>Catálogo de Profesionales</title>
</head>
<body>

  <!--NavBar -->
  <header th:replace="~{fragmentos/navbar :: nav_bar}"></header>


  <div class="main">
    <div class="container px-4 py-5 flex justify-content-center">
      <div class="mt-4 mb-lg-4">
        <h1>Catálogo de profesionales</h1>
      </div>

      <!-- Buscador / Filtro -->
      <div class="container my-4">

        <form class="row col-lg-12 mb-4 justify-content-end"  action="/profesionales/listar"  method="get"> <!-- Añadida la ruta de acción -->
          <div class="col-md-2"> <!-- Área -->
            <label for="area"  class="form-label" >Área:</label>
            <select class="form-select" name="area" id="area" required>
              <option value="">Todas las áreas</option>
              <option th:each="area: ${listaAreas}"
                      th:text="${area.nombreArea}" th:value="${area.idAreas}"></option>
            </select>
          </div>
          <div class="col-md-2"> <!-- Sede -->
            <label for="sedes"  class="form-label" >Sedes:</label>
            <select class="form-select" name="sedes" id="sedes"  required>
              <option value="">Todas las sedes</option>
              <option th:each="sedes: ${listaSedes}"
                      th:text="${sedes.nombreSede}" th:value="${sedes.idSedes}"></option>
            </select>
          </div>
          <div class="col-md-2"> <!-- Fecha -->
            <label for="fecha"  class="form-label">Fecha:</label>
            <select class="form-select" name="fecha" id="fecha"  required>
              <option>Open this select menu </option>
              <option th:each="fecha: ${listaFecha}"
                      th:text="${fecha.fechaDisponibilidad}" th:value="${fecha.idFechas}"></option>
            </select>
          </div>
          <div class="col-md-2 mt-4">
            <button type="submit" class="btn btn-outline-primary w-100">Filtrar</button>
          </div>
          <div class="col-md-2 mt-4">
            <a th:href="@{/profesionales/listar}" class="btn btn-outline-secondary w-100">Limpiar</a> <!-- Limpiar filtros -->
          </div>
          <div class="col-md-2 mt-4">
            <a th:href="@{/citas/reservarCita}" class="btn btn-outline-info w-100" > Registrar Cita </a>
          </div>
        </form>

        <!-- Catálogo -->
        <div class="row">
          <div class="col-md-3 mb-4" th:each="profe: ${listaProfe}">
            <div class="card h-100">
              <img src="/img/doctor.jpg" class="card-img-top" alt="doctor">
              <div class="card-body">
                <h5 class="card-title" th:text="${profe.nombre}">Nombre del Profesional</h5>
                <p class="card-text" th:text="${profe.area.nombreArea}">Área</p>
                <p class="card-text" th:text="${profe.descripcionProfesional}">Descripción</p>
                <p class="card-text" th:text="${profe.sedes.nombreSede}">Sede</p>
              </div>
            </div>
          </div>
          <div th:if="${#lists.isEmpty(listaProfe)}">
            <p>No hay profesionales disponibles en este momento.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>